<div class="container">
    <div class="headingscatogory">
        <h1>Acount Management</h1>
    </div>

<!-- Scrolling down into a specific section. -->
    <div class="contentcategory">
        <div class="contentheading">
            <h2>Content</h2>
        </div>
        <li><a href="/account-management#section1">Login</a></li>
        <li><a href="/account-management#section2">Registration</a></li>
        <li><a href="/account-management#section3">Profile</a></li>

    </div>
        
<!-- The sections details -->
    <div class="category-container" >
        <section class="category">
          <h3 class="categoryTitle"><a id="section1"></a>Log in</h3>
          <p>
            In order to add projects or articles, you will need to be logged in.
            To do that, all you need is to click the "Log in" button on the navigation bar. 
          </p>
          <div class="login-button-image-container">
            <img
              id="login-pic"
              src="/assets/account-management/login-button2.jpg"
              alt="Login button image"
            />
          </div>
          <p>
            This acction will lead you to the <a href="/login">"Login"</a> page.
            Now you can introduce your email and password here.
          </p>
          <div class="login-fields-image-container">
            <img
              id="login-fields-pic"
              src="/assets/account-management/login.JPG"
              alt="Login fields image"
            />
          </div>
          <p>
            After the fields are complited, press the <b>"Login"</b> blue button to finish the process. 
            But if you want to cancel and go to the "Home" page, click the <b>"Cancel"</b> button.
          </p>
          <div class="login-buttons-image-container">
            <img
              id="login-buttons-pic"
              src="/assets/account-management/login-buttons.jpg"
              alt="Login buttons image"
            />
          </div>
        </section>

        <section class="category">
          <h3 class="categoryTitle"><a id="section2"></a>Registration</h3>
          <p>
            To create a profile, click on <b>"Sign in"</b> button. 
            Doing this, a <a href="/register">registration</a> page will be opened.
          </p>
          <div class="signin-button-image-container">
            <img
              id="signin-pic"
              src="/assets/account-management/signin-button2.jpg"
              alt="Signin button image"
            />
          </div>
          <p>
            Now you have to complite the field.
          </p>
          <div class="signin-fields-image-container">
            <img
              id="signin-fields-pic"
              src="/assets/account-management/signin.JPG"
              alt="Signin fields image"
            />
          </div>
          <p>
            If the fields are complited, press the <b>"Sign in"</b> blue button to finish the process. 
            A new <a href="/account-management#section1">login</a> page will be opened for you so you can log in.
          </p>
          <p>
            But if you want to cancel and go to the "Home" page, click the <b>"Cancel"</b> button.
            Furthemore, you can register with Facebook by clicking <b>"FB"</b> button.
          </p>
          <div class="signin-buttons-image-container">
            <img
              id="signin-buttons-pic"
              src="/assets/account-management/signin-buttons.JPG"
              alt="Signin buttons image"
            />
          </div>
        </section>

        <section class="category">
          <h3 class="categoryTitle"><a id="section3"></a>Profile</h3>
          <p>
            The "Profile" page is available only to users already registered or logged in.
            In the top-right corner (navigation bar) the "Sign in" button has been repleaced after you have been logged with "Profile" button.
            Clicking this new button will lead you to <a href="/profile">profile</a> page.
          </p>
          <div class="profile-button-image-container">
            <img
              id="profile-pic"
              src="/assets/account-management/profile-button.JPG"
              alt="Profile button image"
            />
          </div>
          <p>
            You can add or edit your account information by presing the following icon.
          </p>
          <div class="profile-image-container">
            <img
              id="profile-pic"
              src="/assets/account-management/profile.JPG"
              alt="Profile page image"
            />
          </div>
          <p>
              Each icon will open a dialog box with specific fields to complite or options to choose. 
              For example:
          </p>
          <div class="profile-dialogBox-image-container">
            <img
              id="profile-dialogBox-pic"
              src="/assets/account-management/profile-dialogBox.JPG"
              alt="Profile dialog box image"
            />
          </div>
          <p>
            The setings icon button shows you two options regarding your account.
            Now you can edit your privacy settings or you can delete the account. 
            Both of them will show dialog boxes with defferent options.
          </p>
          <div class="settings-button-image-container">
            <img
              id="settings-button-pic"
              src="/assets/account-management/settings-button.JPG"
              alt="Settings button image"
            />
          </div>
          <p>
            The add icon buttons are used to add your own projects and articles to the profile. 
            The new ones will be accessable for every user of the website. 
            Those buttons will open new pages (fx. <a href="/articles/create">"Add your own article!"</a> page).
          </p>
          <div class="add-button-image-container">
            <img
              id="add-button-pic"
              src="/assets/account-management/add-button.JPG"
              alt="Add button image"
            />
          </div>
        </section>
    </div>
</div>
