.container {
  position: relative;
}
#profile-header {
  height: 100%;
}
.card-header {
  background-color: rgb(40, 90, 255);
  height: 160px;
}
/* header content */
.space {
  -ms-flex: 0 0 240px;
    flex: 0 0 240px;
}
.header-text {
  text-align: left;
  line-height: 70%;
}
.options {
  text-align: right;
}
.btn{
    margin-bottom: 2%;
}

h4{
    font-size: 18px;
}
/* Profile picture */
.profile-picture {
  position: absolute;
  top: 60px;
  left: 20px;
  margin-left: 2%;
  max-width: 200px;
}
img {
  border-radius: 50%;
  height: auto;
  width: 100%;
}

/* content container */
.container-fluid {
  margin-top: 2%;
}
