<hr />
<div class="container">
  <div class="card" id="profile-header">
    <div class="card-header" id="profile-header-top"></div>
    <div class="card-body" id="profile-header-bottom">
      <div class="profile-picture">
        <img
          id="profile-pic"
          src="assets/profile-pics/user.png"
          alt="Profile picture"
        />
      </div>
      <div class="row">
        <div class="col space"></div>
        <div class="col header-text">
          <p class="name"><strong>{{ user.firstName }} {{ user.lastName }}</strong></p>
          <p class="field-of-focus" *ngIf="user.country!=undefined">{{ user.fieldOfFocus }}</p>
          <p class="address" *ngIf="user.country!=undefined && user.city!=undefined">{{ user.country }}, {{ user.city }}</p>
        </div>
        <!-- profile pic in cycle -->
        <div class="col options">
          <!-- option with glyphicon -->
          <div class="menu">
            <span
              id="edit-header"
              class="fas fa-pen clickable"
              data-toggle="modal"
              data-target="#edit-header-modal"
            ></span>
            <span
              data-toggle="collapse"
              data-target="#profile_options"
              class="fas fa-cog clickable"
            ></span>
            <div id="profile_options" class="collapse card">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item clickable"
                  data-toggle="modal"
                  data-target="#privacy-setting-model"
                >
                  Privacy settings
                </li>
                <!--change email, password-->
                <li
                  class="list-group-item clickable"
                  data-toggle="modal"
                  data-target="#delete-user-model"
                >
                  Delete account
                </li>
              </ul>
            </div>
          </div>
          <div>
            <!--show if  user has some experience and latest year is current year -->
            <p class="job" *ngIf="experience.length > 0 && experience[0].yearEnd===getCurrentYear()">
              {{ experience[0].company }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header info edit modal -->
  <div
    class="modal fade"
    id="edit-header-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="edit-header-modal-label"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Header info edit
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- delete user modal -->
  <div
    class="modal fade"
    id="delete-user-model"
    tabindex="-1"
    role="dialog"
    aria-labelledby="edit-header-modal-label"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title invert-text" id="exampleModalLongTitle">
            Delete user
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body invert-text">
          Are you sure you want to delete your account? This change is
          permanent.
        </div>
        <div class="modal-footer" id="delete-modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteUser()"
            data-dismiss="modal"
          >
            Delete user
          </button>
          <button type="button" class="btn btn-cancel" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- privacy settings modal -->
  <div
    class="modal fade"
    id="privacy-settings-model"
    tabindex="-1"
    role="dialog"
    aria-labelledby="edit-header-modal-label"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Privacy settings
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-14 col-sm-12 col-md-6">
        <div class="card text-white bg-dark mb-2 contact-frame">
          <!-- frame with phomne, email, perhaps links to other social media -->
          <div class="card-body">
            <h5 id="title" class="card-title">
              Contact
              <span
                id="edit"
                class="fas fa-pen clickable"
                data-toggle="modal"
                data-target="#edit-contact-modal"
              ></span>
            </h5>
            <p class="card-text">Email: {{ user.email }}</p>
            <p class="card-text">Phone number: {{ user.phone }}</p>
          </div>
        </div>
        <!-- contact info edit modal -->
        <div
          class="modal fade"
          id="edit-contact-modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="edit-header-modal-label"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  Modal title
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Delete user
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card text-white bg-dark mb-2 education-frame">
          <!-- frame with schools -->
          <div class="card-body">
            <h5 id="title" class="card-title">
              Education
              <span
                id="edit"
                class="fas fa-pen clickable"
                data-toggle="modal"
                data-target="#edit-education-modal"
              ></span>
            </h5>
            <div class="card-text" *ngFor="let edu of education">
              <div class="row" *ngIf="education.length > 0">
                <p class="col">{{ edu.school }}</p>
                <p class="col">{{ edu.specialization }}</p>
                <p class="col-3">{{ edu.yearStart }} - {{ edu.yearEnd }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- education info edit modal -->
        <div
          class="modal fade"
          id="edit-education-modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="edit-header-modal-label"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  Modal title
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Education info edit
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card text-white bg-dark mb-2 experience-frame">
          <!-- frame with work experience, projects etc. -->
          <div class="card-body">
            <h5 id="title" class="card-title">
              Experience
              <span
                id="edit"
                class="fas fa-pen clickable"
                data-toggle="modal"
                data-target="#edit-experience-modal"
              ></span>
            </h5>
            <div class="card-text" *ngFor="let exp of experience">
              <div class="row" *ngIf="education.length > 0">
                <p class="col">{{ exp.company }}</p>
                <p class="col">{{ exp.position }}</p>
                <p class="col-3">{{ exp.yearStart }} - {{ exp.yearEnd }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- experience info edit modal -->
      <div
        class="modal fade"
        id="edit-experience-modal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="edit-header-modal-label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Modal title
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Experience info edit
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-14 col-sm-12 col-md-6">
        <div class="card text-white bg-dark mb-2 projects-frame">
          <!-- frame with user's projects -->
          <div class="card-body">
            <h5 id="title" class="card-title">
              Projects
              <span id="add" class="fas fa-plus clickable"></span>
            </h5>
            <p class="card-text">project view</p>
          </div>
        </div>
        <div class="card text-white bg-dark mb-2 articles-frame">
          <!-- frame with user's articles -->
          <div class="card-body">
            <h5 id="title" class="card-title">
              Articles
              <span id="add" class="fas fa-plus clickable"></span>
            </h5>
            <p class="card-text">article view</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
