<!-- <h1>Profile of <strong>{{user$.name}}</strong></h1>
<ul>
  <li>{{user$.username}}</li>
  <li>{{user$.email}}</li>
  <li>{{user$.phone}}</li>
</ul> -->
<hr />
<hr />
<div class="container">
  <div class="profile-header">
    <div class="header-text">
      <h3 class="name">Ing. arch. Ivana Nadova</h3>
      <p class="field-of-focus">architect, designer</p>
      <p class="address">Bratislava, Slovakia</p>
      <p class="job">Atyp Interier, spol. s.r.o.</p>
    </div>
  </div>
  <div class="profile-picture">
    <!-- profile pic in cycle -->
    <img
      id="profile-pic"
      src="assets/profile-pics/profile_pic.jpg"
      alt="Profile picture"
    />
  </div>
  <div class="options">
    <!-- TO DO: change to btn with wheel or just wheel -->
    <button class="btn btn-primary">Options</button>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-14 col-sm-12 col-md-6">
        <div class="card text-white bg-dark mb-2 contact-frame">
          <!-- frame with phomne, email, perhaps links to other social media -->
          <div class="card-body">
            <h5 class="card-title">Contact</h5>
            <p class="card-text">Email: ivana.nadova@gmail.com</p>
            <p class="card-text">Phone number: +421 915 984 657</p>
          </div>
        </div>
        <div class="card text-white bg-dark mb-2 education-frame">
          <!-- frame with schools -->
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">high school</p>
            <p class="card-text">university</p>
          </div>
        </div>
        <div class="card text-white bg-dark mb-2 experience-frame">
          <!-- frame with work experience, projects etc. -->
          <div class="card-body">
            <h5 class="card-title">Experience</h5>
            <p class="card-text">Atyp Interier</p>
          </div>
        </div>
      </div>
      <div class="col-xs-14 col-sm-12 col-md-6">
        <div class="card text-white bg-dark mb-2 projects-frame">
          <!-- frame with user's projects -->
          <div class="card-body">
            <h5 class="card-title">Projects</h5>
            <p class="card-text">project view</p>
          </div>
        </div>
        <div class="card text-white bg-dark mb-2 articles-frame">
          <!-- frame with user's articles -->
          <div class="card-body">
            <h5 class="card-title">Articles</h5>
            <p class="card-text">article view</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
