<!--<h1>Profile of <strong>{{user$.name}}</strong></h1>
<ul>
  <li>{{user$.username}}</li>
  <li>{{user$.email}}</li>
  <li>{{user$.phone}}</li>
</ul> -->
<hr />
<div class="container">
  <div class="card" id="profile-header">
    <div class="card-header"></div>
    <div class="card-body">
      <div class="profile-picture">
        <img
          id="profile-pic"
          src="assets/profile-pics/profile_pic.jpg"
          alt="Profile picture"
        />
      </div>
      <div class="row invert-text">
        <div class="col space"></div>
        <div class="col header-text" #user>
          <h4 class="name">{{user.first_name}} {{user.last_name}}</h4>
          <p class="field-of-focus">{{user.field_of_focus}}</p>
          <p class="address">{{user.county}}, {{user.city}}</p>
        </div>
        <!-- profile pic in cycle -->
        <div class="col options">
          <!-- TO DO: change to btn with wheel or just wheel -->
          <button class="btn btn-primary">Options</button>
          <p class="job">{{user.atelier}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-14 col-sm-12 col-md-6">
        <div class="card text-white bg-dark mb-2 contact-frame">
          <!-- frame with phomne, email, perhaps links to other social media -->
          <div class="card-body">
            <h5 class="card-title">Contact</h5>
            <p class="card-text">Email: {{user.email}}</p>
            <p class="card-text">Phone number: {{user.phone}}</p>
          </div>
        </div>
        <div class="card text-white bg-dark mb-2 education-frame">
          <!-- frame with schools -->
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">{{user.education}}</p>
          </div>
        </div>
        <div class="card text-white bg-dark mb-2 experience-frame">
          <!-- frame with work experience, projects etc. -->
          <div class="card-body">
            <h5 class="card-title">Experience</h5>
            <p class="card-text">{{user.experience}}</p>
          </div>
        </div>
      </div>
      <div class="col-xs-14 col-sm-12 col-md-6">
        <div class="card text-white bg-dark mb-2 projects-frame">
          <!-- frame with user's projects -->
          <div class="card-body">
            <h5 class="card-title">Projects</h5>
            <p class="card-text">project view</p>
          </div>
        </div>
        <div class="card text-white bg-dark mb-2 articles-frame">
          <!-- frame with user's articles -->
          <div class="card-body">
            <h5 class="card-title">Articles</h5>
            <p class="card-text">article view</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
