<!-- List of users
  <h1>Users</h1>

<ul>
  <li *ngFor = "let user of users$">
    <a routerLink="/details/{{user.id}}">{{user.name}}</a>
    <ul>
      <li>{{user.email}}</li>
      <li><a href="http://{{user.website}}">{{user.website}}</a></li>
    </ul>
  </li>
</ul> -->

<!-- The FormControl instance tracks the value, user interaction, and validation status of the control and keeps 
  the view synced with the model. This directive is used by itself or as part of a larger form. ngModel selector is 
  used to activate it. -->
<h1>Sign in</h1>
<div class="container">
  <!-- Wrap the form in a <div> and bind its hidden property to the UserFormComponent.submitted property -->
  <div [hidden]="submitted">
    <!--Declare a template variable for the form. The variable userForm is now a reference to the NgForm 
      directive that governs the form as a whole (Angular automatically creates and attaches an NgForm 
      directive to the <form> tag). The NgForm directive supplements the form element with additional features. 
      It holds the controls created for the elements with an ngModel directive and first_name attribute, 
      and monitors their properties, including their validity. It also has its own valid property which is 
      true only if every contained control is valid. -->
    <!-- bind the form's ngSubmit event property to the hero form component's onSubmit() method -->
    <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
      <div class="form-group">
        <label for="first_name">First name:</label>
        <!-- Defining a name attribute is a requirement when using [(ngModel)] in combination with a form. 
        Internally, Angular creates FormControl instances and registers them with an NgForm directive that 
        Angular attached to the <form> tag. Each FormControl is registered under the name you assigned to the 
          name attribute.-->
        <!-- Each input element has an id property that is used by the label element's for attribute 
        to match the label to its input control. -->
        <!--[(ngModel)]="model.first_name" to dislay field with name  -->
        <input
          type="text"
          class="form-control"
          id="first_name"
          required
          ngModel
          name="first_name"
          #fname="ngModel"
        />
        <!-- for validation message. pristine means user hasn't changed value -->
        <div
          [hidden]="fname.valid || fname.untouched"
          class="alert alert-danger"
        >
          Field is required
        </div>
      </div>
      <div class="form-group">
        <label for="last_name">Last name:</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          required
          ngModel
          name="last_name"
          #lname="ngModel"
        />
        <div
          [hidden]="lname.valid || lname.untouched"
          class="alert alert-danger"
        >
          Field is required
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="text"
          class="form-control"
          id="email"
          required
          ngModel
          name="email"
          #email="ngModel"
        />
        <div
          [hidden]="email.valid || email.untouched"
          class="alert alert-danger"
        >
          Field is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="text"
          class="form-control"
          id="password"
          required
          ngModel
          name="password"
          #password="ngModel"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
        />
        <div
          [hidden]="password.valid || password.untouched"
          class="alert alert-danger"
        >
          Field is required. Password must contain at least 8 characters, one
          lowercase letter, one uppercase letter and number. (e.g. PassWord7)
        </div>
      </div>
      <div class="form-group">
        <label for="password2">Repeat password:</label>
        <input
          type="text"
          class="form-control"
          id="password2"
          required
          ngModel
          name="password2"
          #password2="ngModel"
          pattern="{{ password.value }}"
          [disabled]="password.invalid"
        />
        <div
          [hidden]="password2.valid || password2.untouched"
          class="alert alert-danger"
        >
          Field is required and must match with first password
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone number:</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          required
          ngModel
          name="phone"
          #phone="ngModel"
        />
        <div
          [hidden]="phone.valid || phone.untouched"
          class="alert alert-danger"
        >
          Field is required
        </div>
      </div>
      <button
        type="button"
        class="btn btn-success m-1"
        (click)="newUser(); userForm.reset()"
      >
        Delete fields
      </button>
      <!-- [disabled]...: button is disabled if some fields are invalid -->
      <!-- When you click the Submit button, the submitted flag becomes true and the form disappears. (submitted property from ts file) -->
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!userForm.form.valid"
      >
        Sign in
      </button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <div class="row">
      <div class="col-xs-9">{{ model.first_name }} has been registered.</div>
    </div>
    <br />
    <button class="btn btn-primary" (click)="submitted = false">Edit</button>
  </div>
</div>

<!-- 
  -Can be used for categoty,.. (where you have to use from values)
  -list will be maintained internally?? (in RegistrationComponent)
  -This code repeats the <option> tag for each category in the list of categories. The cat template 
    input variable is a different category in each iteration; you display its name using the interpolation syntax.
<div class="form-group">
  <label for="category">Category</label>
  <select class="form-control" id="category" required>
    -bind the options to the categories list using ngFor:
    <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
  </select>
</div> -->
