<!-- this is to make it responsive to your screen width -->
<div class="container-fluid">
  <app-navigation-bar></app-navigation-bar>
  <nav></nav>
  <hr />
  <hr />
  <hr />
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <app-footer></app-footer>
</div>
