<div class="container-fluid">
  <app-navigation-bar></app-navigation-bar>
  <div id="content">
        <router-outlet></router-outlet>
  </div>
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
</div>

