<div class="space-header"></div>
<div class="container">
  <div class="row">
    <!-- articleKeys(articles)="0","1","2",... -->
    <div
      class="col-sm-4 py-2"
      *ngFor="let key of articleKeys(articles) | slice: 0:pageLimit"
    >
      <a
        class="card img-fluid bg-dark mb-2 article-frame"
        [routerLink]="['article', articles[key]._id]"
      >
        <img
          class="card-img-top"
          src="assets/article_pic.png"
          alt="Card image"
        />
        <div class="card-img-overlay">
          <div class="card-title" id="title">
            {{ articles[key].title }}
          </div>
          <div class="card-footer">
            <p class="author" *ngFor="let author of articles[key].author">
              {{ author }}
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-1">
      <button class="btn btn-outline-light" (click)="loadMore()">More</button>
    </div>
  </div>
  <div class="space-footer"></div>
</div>
