<div class="first-container">
  <div class="second-container" id="loginContainer">
    <div class="login-header">
      <h1>Login</h1>
    </div>
    <!-- if it's not working replace [formGroup]="loginForm"  with class="login-form"-->
    <div class="container">
      <form
        class="login-form"
        (ngSubmit)="OnSubmit(userForm)"
        #userForm="ngForm"
      >
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="email"
                required
                ngModel
                name="email"
                #email="ngModel"
                placeholder="Email"
              />
              <!--
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
              </div>-->
              <div
                [hidden]="email.valid || email.untouched"
                class="alert alert-danger"
              >
                Field is required
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="password"
                required
                ngModel
                name="password"
                #password="ngModel"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                placeholder="Password"
              />
              <div
                [hidden]="password.valid || password.untouched"
                class="alert alert-danger"
              >
                Field is required. Password must contain at least 8 characters,
                one lowercase letter, one uppercase letter and number. (e.g.
                PassWord7)
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <!-- [disabled]...: button is disabled if some fields are invalid -->
            <!-- When you click the Login button, the submitted flag becomes true and the form disappears. (submitted property from ts file) -->
            <!-- For now, when you click the Login button, the "home" page is loaded. -->
            <button
              type="submit"
              class="btn btn-primary btn-block"
              [disabled]="!userForm.form.valid"
              (click)="router.navigate(['/profile']); showAll()"
            >
              Login
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-danger btn-block"
              (click)="router.navigate(['/home']); showAll()"
            >
              Cancel
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                checked="checked"
                name="remember"
              />
              <label class="invert-text">Remember me!</label>
            </div>
          </div>
          <!--For now, the forgotten password? option goes to "/home" page.-->
          <div class="col">
            <span class="invert-text">Forgot <a href="#">password?</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
