<div class="first-container">
  <div class="second-container" id="loginContainer">
    <div class="login-header">
      <h1>Login</h1>
    </div>
    <!-- if it's not working replace [formGroup]="loginForm"  with class="login-form"-->
    <div class="container">
      <form
        class="login-form"
        (ngSubmit)="OnSubmit(userForm)"
        #userForm="ngForm"
      >
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="email"
                required
                ngModel
                name="email"
                #email="ngModel"
                placeholder="Email"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                required
                ngModel
                name="password"
                #password="ngModel"
                placeholder="Password"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <!-- [disabled]...: button is disabled if some fields are invalid -->
            <!-- When you click the Login button, the submitted flag becomes true and the form disappears. (submitted property from ts file) -->
            <!-- For now, when you click the Login button, the "home" page is loaded. -->
            <button
              type="submit"
              class="btn btn-primary btn-block"
              (click)="navigateTo();"
            >
              Login
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-danger btn-block"
              (click)="router.navigate(['/home']); showAll()"
            >
              Cancel
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                checked="checked"
                name="remember"
              />
              <label class="invert-text">Remember me!</label>
            </div>
          </div>
          <!--For now, the forgotten password? option goes to "/home" page.-->
          <div class="col">
            <span class="invert-text">Forgot <a href="#">password?</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
