.first-container {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.second-container {
  height: 90vh;
  display: table-cell;
  vertical-align: middle;
}
.container {
  background-color: rgb(232, 231, 236);
  padding: 2%;
  padding-top: 5%;
  border-radius: 5px;
  margin: 0 auto;
}
.login-header {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 7%;
}
@media screen and (min-width: 800px) {
  .container {
    min-height: 250px;
    width: 500px;
  }
}
