/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(36, 36, 37);
    color: rgb(199, 199, 199);
}
.navbar{
    background-color: rgb(21, 21, 22);
}
