@import "~angular-notifier/styles";
/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(19, 18, 16);
  color: rgb(226, 218, 200);
  min-width: 900px;
  line-height: 70%;
  font-size: 14px;
}

/* footer is always on the bottom */
app-footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}
/* for text on bright background */
.invert-text{
  color: rgb(24, 24, 26);
}
.navbar {
  background-color: rgb(14, 14, 15);
}

/*form'f fields: green if valid, red if invalid*/
.ng-valid[required],
.ng-valid.required {
  border-bottom: 5px solid rgb(54, 201, 62); /* green */
}

.ng-invalid:not(form) {
  border-bottom: 5px solid #c7312e; /* red */
}
