<div class="container">
  <header class="card" id="home-header">
      <img
        id="home-pic"
        src="assets/home-pics/home-display.jpg"
        alt="Home picture"
      />
      <div class="top-right"><strong>ArchItUp</strong></div>
  </header>

<!--Projects section
    Replace the image from "categoryBox" with the pictor of the project or the category of projects.
    Replace the "router.navigate(['/articles']);" with the route of the project or category of projects.
-->
  <section>
    <div class="projects-container" id="projects">
      <h2>Projects</h2>
    </div>
    <section class="category-tree">
      <div class="category itemNo-0" (click)="router.navigate(['/articles']);">
        <div class="categoryBox">
          <img 
          id="project-pic"
          src="assets/home-pics/project-img.jpg"
          alt="Project picture"
          />
          <h3 class="categoryTitle">Project 1</h3>
          <h4 class="categoryTitleExample">Sommer houses</h4>
        </div>
      </div>
      <div class="category itemNo-1" >
        <div class="categoryBox">
          <img 
          id="project-pic"
          src="assets/home-pics/project-img.jpg"
          alt="Project picture"
          />
          <h3 class="categoryTitle">Project 2</h3>
          <h4 class="categoryTitleExample">Renovated</h4>
        </div>
      </div>
      <div class="category itemNo-3" >
          <div class="categoryBox">
            <img 
            id="project-pic"
            src="assets/home-pics/project-img.jpg"
            alt="Project picture"
            />
            <h3 class="categoryTitle">Project 3</h3>
            <h4 class="categoryTitleExample">Villa</h4>
          </div>
        </div>
    </section>

    <section >
      <div class="aboutUs-container" id="aboutUs">
        <h2>About us</h2>
      </div>
      <div class="content">
        <p>
            ArchItUp is creative platform for new architects and students of
          architecture that want to introduce themselves to the pubpc.
        </p>
        <p>
            It’s a place where they can show their projects,
          write and read interesting articles,
          discuss architecture, share knowledge with others,
          find out about workshops and lectures they can attend or test their
          skills on different competitions.
        </p>
        <p>
            Main focus is to help new architects to present themselves, gain
          confidence and teach them how to sell themselves.
        </p>
      </div>
    </section>
  </section>
</div>

