<div class="container">
    <div class="headingscatogory">
        <h1>Getting started</h1>
    </div>

<!-- Scrolling down into a specific section. -->
    <div class="contentcategory">
        <div class="contentheading">
            <h2>Content</h2>
        </div>
        <li><a href="/how-to-use#section1">Home page</a></li>
        <li><a href="/how-to-use#section2">See all the projects</a></li>
        <li><a href="/how-to-use#section3">See all the articles</a></li>
        <li><a href="/how-to-use#section4">See all the events</a></li>
        <li><a href="/how-to-use#section5">Login</a></li>
        <li><a href="/how-to-use#section6">Registration</a></li>
    </div>
        
<!-- The sections details -->
    <div class="category-container" >
        <section class="category">
            <h3 class="categoryTitle"><a id="section1"></a>Home page</h3>
            <p>
                The "Home" page is the main page of our web site. 
                From here you have easy access to see the main focus of the company, 
                to learn more about us, 
                as well as to get in touch with us.
                Furthemore, you have access to different projects of our architects
                in order to get in touch with there work.
                If you are a student or an architect, you are able to make your work public 
                by simply sign in into our website.
            </p>
            <p>
                In the following section we will explain you how to do all of these.
            </p>
            <div class="home-image-container">
                <img
                    id="home-pic"
                    src="/assets/how-to-use/home-page.JPG"
                    alt="Home page image"
                />
            </div>
        </section>

        <section class="category">
            <h3 class="categoryTitle"><a id="section2"></a>See all the projects</h3>
            <p>
                To see all the projects, just click the button <b>Pojects</b> on the navigation bar.
            </p>
            <div class="projects-button-image-container">
                <img
                    id="projects-pic"
                    src="/assets/how-to-use/projects-button.jpg"
                    alt="Projects button image"
                />
            </div>
        </section>

        <section class="category">
            <h3 class="categoryTitle"><a id="section3"></a>See all the articles</h3>
            <p>
                If you are looking for articles, click the button <b>Articles</b> on the navigation bar.
            </p>
            <div class="articles-button-image-container">
                <img
                    id="articles-pic"
                    src="/assets/how-to-use/articles-button.jpg"
                    alt="Articles button image"
                />
            </div>
        </section>

        <section class="category">
            <h3 class="categoryTitle"><a id="section4"></a>See all the events</h3>
            <p>
                If you are looking for events, click the button <b>Events</b> on the navigation bar.
            </p>
            <div class="articles-button-image-container">
                <img
                    id="events-pic"
                    src="/assets/how-to-use/events-button.jpg"
                    alt="Events button image"
                />
            </div>
        </section>

        <section class="category">
            <h3 class="categoryTitle"><a id="section5"></a>Log in</h3>
            <p>
                In order to add projects or articles, you will need to be logged in.
                To do that, all you need is to click the "Log in" button on the navigation bar. 
            </p>
            <div class="login-button-image-container">
                <img
                    id="login-pic"
                    src="/assets/how-to-use/login-button.jpg"
                    alt="Login button image"
                />
            </div>
            <p>
                    This acction will lead you to the <a href="/login">"Login"</a> page.
            </p>
        </section>

        <section class="category">
            <h3 class="categoryTitle"><a id="section6"></a>Registration</h3>
            <p>
                To create a profile, click on <b>"Sign in"</b> button. 
            </p>
            <p>
                Doing this, a <a href="/register">registration</a> page will be opened.
            </p>
            <div class="signin-button-image-container">
                <img
                    id="signin-pic"
                    src="/assets/how-to-use/signin-button.jpg"
                    alt="Signin button image"
                />
            </div>
        </section>
    </div>
</div>
